.label{
    -fx-font-family: "Papyrus";
}

.bodyPanes {
    -fx-background-color: #BAFAF9; /* Updated background color to #BAFAF9 */
    -fx-border-color: #007ACC; /* Border color - shade of blue */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.splitPane {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.firstPage {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-show {
    -fx-background-color: #007ACC; /* Blue shade for buttons */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
}

.button-show:hover {
    -fx-background-color: #00558C; /* Darker blue shade on hover */
}

.ComboBox {
    -fx-font-size: 12px;
    -fx-pref-width: 180px;
    -fx-prompt-text-fill: #007ACC; /* Blue for prompt text */
    -fx-background-color: white;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.detailsPane {
    -fx-background-color: #BAFAF9;
}

.HeaderButtons {
    -fx-background-color: #d882f3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.HeaderButtons:hover {
    -fx-background-color: #69337c;
}

#histogramVBox {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

TableColumn {
    -fx-font-size: 16px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5px;
    -fx-font-weight: bold;
}

#consistencyVBox {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-spacing: 20px;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}

LineChart {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.axis {
    -fx-font-size: 12px;
}

#resultsPane {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

#executionResultsHBox {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 15px;
}

.executionResults {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-spacing: 10px;
    -fx-padding: 5px;
}

.newExecution {
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: white;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.newExecutionInputs {
    -fx-spacing: 10px;
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #BAFAF9;
    -fx-padding: 10px;
}

.action-label-title {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.action-text-variable {
    -fx-font-size: 13px;
    -fx-fill: #555555;
    -fx-font-family: "Papyrus";
}

.label-title {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.text-variable {
    -fx-font-size: 16px;
    -fx-fill: #555555;
    -fx-font-family: "Papyrus";
}

#textLoadedFile {
    -fx-font-size: 14px;
}

.simulationCounter {
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

#headerErrorLabel {
    -fx-text-fill: red;
    -fx-font-size: 10px;
}

#predictionsTitle {
    -fx-text-fill: #007ACC; /* Blue title text color */
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-font-family: "Arial";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

.newExecutionLabel {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

Spinner {
    -fx-pref-width: 80px;
    -fx-padding: 5px;
}

#valueCBox {
    -fx-font-size: 10px;
}

.topLabels {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.countersLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.detailsCountLabels {
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

.detailsLabels {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#executionListTitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

ListView {
    -fx-background-color: #BAFAF9; /* Updated background color */
    -fx-font-size: 14px;
    -fx-border-color: #007ACC; /* Updated border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.consistencyLabels {
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.failedVBox {
    -fx-background-color: #BAFAF9;
    -fx-border-color: #007ACC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.simulationIdLabels {
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.errorLabels {
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-text-fill: red;
}

#simulationIdAndTimeDetails {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
}

.detailsLabels {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}