.HeaderButtons {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.HeaderButtons:hover{
    -fx-background-color: #297520;
}

#loadFileButton {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#loadFileButton:hover{
    -fx-background-color:#084891;
}

#textLoadedFile {
    -fx-font-size: 14px;
}

HBox, VBox{
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners for the HBox */
}

Label{
    -fx-text-fill: black; /* black text color */
    -fx-font-size: 13px; /* Font size */
}

#errorLabel{
    -fx-text-fill: red; /* White text color */
    -fx-font-size: 13px; /* Font size */
}

#predictionsTitle{
    -fx-text-fill: #2196F3;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-font-family: "Arial";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

