/* Apply styles to the LineChart */
#chart {
    -fx-background-color: #ffffff; /* White background color */
    -fx-border-color: #dcdcdc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners for the LineChart */
}

/* Style the Axis */
#quantity, #ticks {
    -fx-font-size: 12px; /* Font size */
}