VBox {
    -fx-background-color: #f0f0f0; /* Light gray background color */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners for the HBox */
    -fx-padding: 10px; /* Add padding around the HBox */
}

/* Apply styles to the Label components */
#simulationId, #simulationStartTime {
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 10px; /* Add padding to the Labels */
    -fx-font-weight: bold;/* Bold text */
}

.errorLabels{
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 10px; /* Add padding to the Labels */
    -fx-text-fill: red; /* White text color */
}